.single-post {
    border: 1px solid yellow;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.btns {
    /*align-content: flex-end;*/
    align-self: flex-end;
}
.btns button {
    width: 6rem;
    padding: 5px;
}