* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 15px;
    width: 1200px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav ul {
    display: flex;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
    border: 1px solid red;
}
.nav ul li {
    border-right: 1px solid black;
    width: 100%;
    text-align: center;
}
.nav ul li:last-child {
    border: none;
}
.nav ul li a {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}